
MultitapConverter/.vs/MultitapConverter/v16/.suo
MultitapConverter/.vs/MultitapConverter/v16/TestStore/0/000.testlog
MultitapConverter/.vs/MultitapConverter/v16/TestStore/0/testlog.manifest
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.AssemblyInfo.cs
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.AssemblyInfoInputs.cache
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.assets.cache
MultitapConverter/MultitapConverter/obj/MultitapConverter.csproj.nuget.dgspec.json
MultitapConverter/MultitapConverter/obj/MultitapConverter.csproj.nuget.g.targets
MultitapConverter/MultitapConverter/obj/project.assets.json
MultitapConverter/MultitapConverter/obj/project.nuget.cache
MultitapConverter/MultitapConverter/obj/MultitapConverter.csproj.nuget.g.props
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.csprojAssemblyReference.cache
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.AssemblyInfo.cs
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.AssemblyInfoInputs.cache
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.assets.cache
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.csproj.CopyComplete
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.csproj.CoreCompileInputs.cache
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.csproj.FileListAbsolute.txt
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.csprojAssemblyReference.cache
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.dll
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.pdb
MultitapConverter/MultitapConverter.UnitTest/obj/MultitapConverter.UnitTest.csproj.nuget.g.props
MultitapConverter/MultitapConverter.UnitTest/obj/MultitapConverter.UnitTest.csproj.nuget.g.targets
MultitapConverter/MultitapConverter.UnitTest/obj/MultitapConverter.UnitTest.csproj.nuget.dgspec.json
MultitapConverter/MultitapConverter.UnitTest/obj/Debug/netcoreapp3.1/MultitapConverter.UnitTest.genruntimeconfig.cache
MultitapConverter/MultitapConverter.UnitTest/obj/project.assets.json
MultitapConverter/MultitapConverter.UnitTest/obj/project.nuget.cache
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.pdb
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.genruntimeconfig.cache
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.dll
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.csproj.FileListAbsolute.txt
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.csproj.CoreCompileInputs.cache
