
MultitapConverter/.vs/MultitapConverter/v16/.suo
MultitapConverter/.vs/MultitapConverter/v16/TestStore/0/000.testlog
MultitapConverter/.vs/MultitapConverter/v16/TestStore/0/testlog.manifest
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.AssemblyInfo.cs
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.AssemblyInfoInputs.cache
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.assets.cache
MultitapConverter/MultitapConverter/obj/MultitapConverter.csproj.nuget.dgspec.json
MultitapConverter/MultitapConverter/obj/MultitapConverter.csproj.nuget.g.targets
MultitapConverter/MultitapConverter/obj/project.assets.json
MultitapConverter/MultitapConverter/obj/project.nuget.cache
MultitapConverter/MultitapConverter/obj/MultitapConverter.csproj.nuget.g.props
MultitapConverter/MultitapConverter/obj/Debug/netcoreapp3.1/MultitapConverter.csprojAssemblyReference.cache
